<h1>A multilingual image-to-voice app.</h1>
<p>The power of accessibility at the push of a smartphone camera button.</p>
<a class="btn btn-primary btn-lg" href="/picture" role="button">Get started</a>