<div class="jumbotron-content">
    <h1>A multilingual image-to-voice app.</h1>
    <p>The power of accessibility at the push of a smartphone camera button.</p>
    <div class="button">Get started</div>
</div>