<!-- Navbar -->
{{> navbar-partial }}

<!-- Static jumbotron (displays on mobile devices only) -->
<div class="jumbotron text-center static">
  {{> jumbotron-content-partial }}
</div>

<!-- Carousel -->
<div class="carousel slide carousel-fade" data-ride="carousel" data-interval='6000'>
  <div class="carousel-inner">
    <div class="carousel-item active jumbotron text-center" id="slide1">
      {{> jumbotron-content-partial }}
    </div>
    <div class="carousel-item jumbotron text-center" id="slide2">
      {{> jumbotron-content-partial }}
    </div>
  </div>
</div>


<!-- How it works -->
<div class="container features">

  <div class="row heading">
    <div class="col-md-12" style="text-align: center">
      <h2>
        Key features
      </h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-8" style="display: flex; align-items: center;">
      <div>
        <h3>
          <strong>Image-to-voice conversion.</strong>
        </h3>
        <p>Using your smartphone, simply take a picture of a sign or document and Read With Me will read it aloud to you.</p>
      </div>
    </div>

    <div class="col-md-4 book-icon">
      <img src="assets/images/card-img-1.png" alt="Book icon" style="height: 100%; width: 100%; max-height: 210px; max-width: 290px;">
    </div>

  </div>

  <div class="row">
    <div class="col-md-4 lang-icon top">
      <img src="assets/images/card-img-3.png" alt="Foreign language icon" style="height: 100%; width: 100%; max-height: 210px; max-width: 290px">
    </div>

    <div class="col-md-8" style="display: flex; align-items: center">
      <div>
        <h3>
          <strong>Language-to-language translation.</strong>
        </h3>
        <p>Read With Me automatically detects the language and reads the text accordingly. Translate into any of the app's 19
          supported languages.</p>
      </div>
    </div>

    <div class="col-md-4 lang-icon bottom">
      <img src="assets/images/card-img-3.png" alt="Foreign language icon" style="height: 100%; width: 100%; max-height: 210px; max-width: 290px">
    </div>

  </div>
</div>

{{> footer-partial }}