<!-- Navbar -->
{{> navbar-partial }}

<!-- Carousel -->
<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel" data-interval='6000'>
  <div class="carousel-inner">

    <div class="carousel-item active jumbotron text-center" id="slide1">
      <div>
        <h1><strong>Interact more richly with your world.</strong></h1>
        <p>Access your surroundings with the push of a smartphone camera button.</p>
      </div>
    </div>

    <div class="carousel-item jumbotron text-center" id="slide3">
      <div>
        <h1>Make sense of your surroundings.</h1>
        <p>Demystify signs and menus using the app's translation feature.</p>
      </div>
    </div>

  </div>
</div>


<!-- How it works -->
<div class="container">

  <br>

  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <h3><strong>Use this app for:</strong></h3>
    </div>
  </div>

  <br>

  <div class="row">

    <div class="col-md-8" style="display: flex; align-items: center">
      <div>
        <h3><strong>Image-to-voice conversion.</strong></h3>
        <p>Simply take a picture of your surroundings and Read With Me will narrate whatever text is present.</p>
      </div>
    </div>

    <div class="col-md-4">
      <img src="assets/images/card-img-1.png" alt="Book icon" style="height: 100%; width: 100%">
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-4">
      <img src="assets/images/card-img-3.png" alt="Foreign language icon" style="height: 100%; width: 100%">
    </div>

    <div class="col-md-8" style="display: flex; align-items: center">
      <div>
        <h3><strong>Language-to-language translation.</strong></h3>
        <p>Read With Me automatically detects the current language and translates into another one of your choice.</p>
      </div>
    </div>



  </div>

  <!--div class="row">
    <div class="col-md-12">

      <div class="card-deck">
        <div class="card home-card">
          <img class="card-img-top" src="assets/images/card-img-1.png" alt="Book icon">
          <div class="card-body">
            <h3 class="card-title">Image-to-voice</h3>
            <p class="card-text">Simply take a picture of your surroundings and Read With Me will narrate whatever text is present.</p>
          </div>
        </div>

        <div class="card home-card">
          <img class="card-img-top" src="assets/images/card-img-3.png" alt="Foreign language icon">
          <div class="card-body">
            <h3 class="card-title">Language-to-language</h3>
            <p class="card-text">Read With Me automatically detects the current language and translates into another one of your choice.</p>
          </div>
        </div>
      </div>

    </div>
  </div-->
</div>