/* Apply to everything */
body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    text-align: center;
}
  
p {
    font-size: 20px;
}


/* Home page CSS */
#slide1 {
    color: white;
    height: 400px;
    padding-top: 100px;
    background-position: 50% 7%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/assets/images/menu-1.png')
}

/*
#slide2 {
    color: white;
    height: 400px;
    padding-top: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/assets/images/morning-1.png')
}*/

#slide3 {
    color: white;
    height: 400px;
    padding-top: 100px;
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/assets/images/tokyo-1.png')
}

.home-card {
    border-style: none;
}

/* Library page CSS */
.my-wrapper {
    background-color: white;
}

.my-wrapper:hover .image {
    opacity: 0.2;
}

/* Picture page CSS */
#polly-audio {
    /*margin: auto auto 10px auto;*/
    vertical-align: middle;
}

.card-footer {
    min-height: 79px;
}

#save-form {
    vertical-align: middle;
}

.form-inline {
    padding: 7.5px 0 0 0;
}