/* Apply to everything */
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



body {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 150px;
    min-height: 100%;
}

h1 {
    text-align: center;
    font-family: 'Walter Turncoat';
    font-size: 50px;
}

h2 {
    font-size: 37px;
}
  
h3 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

.nav-item {
    font-size: 20px;
    margin: 10px;
}

footer {
    display: flex;
    align-items: bottom;
    justify-content: center;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 60px;
    height: 100px;
    background-color: #343a40;  
}

.container {
    margin: 0 auto;
}


/* Home page CSS */
#slide1 {
    color: white;
    height: 425px;
    padding-top: 115px;
    background-position: 50% 22%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/assets/images/menu-1.png')
}

#slide3 {
    color: white;
    height: 425px;
    padding-top: 115px;
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/assets/images/tokyo-1.png')
}

.home-card {
    border-style: none;
}

/* Library page CSS */
.my-wrapper {
    background-color: white;
}

.my-wrapper:hover .image {
    opacity: 0.2;
}

/* Picture page CSS */
#polly-audio {
    /*margin: auto auto 10px auto;*/
    vertical-align: middle;
}

.card-header {
    font-size: 20px;
}

.card-footer {
    min-height: 79px;
}

#save-form {
    vertical-align: middle;
}

.form-inline {
    padding: 7.5px 0 0 0;
}