/*/////////////////////////////////////////////////*/
/* Apply to everything */

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 150px;
    min-height: 100%;
}

h1 {
    text-align: center;
    font-family: 'Walter Turncoat';
    font-size: 60px;
}

h2 {
    font-size: 42px;
}
  
h3 {
    font-size: 30px;
}

p {
    font-size: 22px;
}

.nav-item {
    font-size: 20px;
    margin: 10px;
}

footer {
    display: flex;
    align-items: bottom;
    justify-content: center;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 60px;
    height: 100px;
    background-color: #343a40;  
}

.container {
    margin: 0 auto;
}

/*/////////////////////////////////////////////////////*/
/* Navbar CSS */

#username, #login {
    margin-left: 50px
}

/*/////////////////////////////////////////////////////*/
/* Index page CSS */

#slide1 {
    color: white;
    height: 425px;
    padding-top: 115px;
    background-position: 50% 22%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/assets/images/menu-1.png')
}

#slide3 {
    color: white;
    height: 425px;
    padding-top: 115px;
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/assets/images/tokyo-1.png')
}

.home-card {
    border-style: none;
}

.lang-icon.bottom {
    display: none;
}

@media (max-width: 769px) {
    div.features {
        text-align: center;
    }

    .book-icon {
        margin-bottom: 60px;
    }

    .lang-icon.top {
        display: none;
    }

    .lang-icon.bottom {
        display: block;
    }

    .carousel {
        display: none;
    }

    #username, #login {
        margin-left: 10px
    }
}

/*/////////////////////////////////////////////////////*/
/* Library page CSS */

.my-wrapper {
    background-color: white;
}

.my-wrapper:hover .image {
    opacity: 0.2;
}

/*////////////////////////////////////////////////////*/
/* Picture page CSS */

.card-header {
    font-size: 20px;
}

.card-footer {
    min-height: 79px;
    display: flex; 
    align-items: center; 
    justify-content: center
}

.card-body {
    min-height: 190px;
}

#left-side, #right-side {
    display: inline-block;
}

#upload-div-row {
    margin-top: 20px;
}

#upload-div-col {
    margin-bottom: 20px; 
}

#pButton {
    margin-right: 15px;
}